.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin: 16px;
}

/* Item de Grid */
.item {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--text-white);
    overflow: hidden;
}

.item > p:first-child {
    padding: 16px;
    font-size: 120%;
    text-align: center;
}

.item > img {
    width: 100%;
}

.item > div {
    padding: 16px;
}

.item > div > a {
    float: right;
    border-radius: 2px;
    background-color: var(--secondary-color);
    color: var(--text-white);
    text-decoration: none;
    padding: 8px;
}

/* Barra de paginação */
.paginacao {
    list-style-type: none;
    background-color: var(--primary-color);
    margin: 16px;
    padding: 0;
    text-align: center;
    overflow: hidden;
}

.paginacao > li {  
    display: inline-block;
    margin-right: -4px;
    padding: 16px;
}

.paginacao > li.active {  
    background-color: var(--secondary-color);
}

.paginacao a {
    text-decoration: none;
    color: var(--text-white);
}

