body {
    background-color: var(--primary-color);
    color: var(--text-white);
}

.voltar {
    background-color: var(--secondary-color);
    padding: 16px;
}

.voltar > a {
    text-decoration: none;
    color: var(--text-white);
}

.voltar > div {
    float: right;
}

.voltar > div > button {
    cursor: pointer;
    color: var(--text-white);
    padding: 4px;
}

.voltar > div > button:nth-child(1) {
    border: 0px solid var(--text-white);
    border-radius: 2px;
    background-color: transparent;
}

.voltar > div > button:nth-child(2) {
    border: 1px solid var(--text-black);
    border-radius: 2px;
    background-color: var(--text-black);
}

.conteudo {
    display: flex;
}

.conteudo > ul {
    border-right: 1px solid var(--text-white);
    width: 20%;
    height: 40vh;
    list-style-type: none;
    font-size: 120%;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 32px;
}

.conteudo > ul > li:first-child {
    font-weight: 600;
}

.conteudo > ul > li > a {
    text-decoration: none;
    color: var(--text-white);
}

.conteudo > ul > li > a:hover {
    color: var(--secondary-color);
}

.conteudo > div {
    width: 80%;
    padding: 32px;
}