body {
    background-color: var(--primary-color);
    color: var(--text-white);
}

nav {
    background-color: var(--secondary-color);
    padding: 16px;
}

nav > a {
    text-decoration: none;
    color: var(--text-white);
}

nav > div {
    float: right;
}

nav > div > button {
    cursor: pointer;
    color: var(--text-white);
    padding: 4px;
}

nav > div > button:nth-child(1) {
    border: 0px solid var(--text-white);
    border-radius: 2px;
    background-color: transparent;
}

nav > div > button:nth-child(2) {
    border: 1px solid var(--text-black);
    border-radius: 2px;
    background-color: var(--text-black);
}

.conteudo {
    display: flex;
}

.conteudo > ul {
    border-right: 1px solid var(--text-white);
    width: 20%;
    list-style-type: none;
    font-size: 120%;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 32px;
}

.conteudo > ul > li:first-child {
    font-weight: 600;
}

.conteudo > ul > li > a {
    text-decoration: none;
    color: var(--text-white);
}

.conteudo > ul > li > a:hover {
    color: var(--secondary-color);
}

.conteudo > div {
    width: 80%;
    padding: 32px;
}

/* Media Query */
@media (max-width: 700px) {
    .conteudo {
        flex-direction: column;
    }

    .conteudo > ul { 
        width: 100%;
        margin: 24px;
    }

    .conteudo > div {
        width: 100%;
        padding: 24px;
    }
}